<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="meta">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta th:http-equiv="Content-Security-Policy" th:content="">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <div style="display: none">
    <meta name="_csrf" th:content="${_csrf.token}" >
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    </div>
</th:block>

</html>