<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="/common/meta :: meta"/>

    <title>게시판 목록</title>

    <!-- Custom fonts for this template -->
    <link  href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link  href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link  href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:block th:replace="/common/sideBar :: sideBarFragment"/>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- TopBar -->
                <nav th:blcok th:replace="/common/topbar :: topBarFragment"/>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="w-auto p-3  d-flex justify-content-end">
                            <a th:href="@{/noticeBoard/noticeBoardRegister}" class="btn btn-primary m-1"><span style="color: white">생성</span></a></button>
                            <button type="submit" th:form="formData" formaction="/noticeBoard/delete" formmethod="post" class="btn btn-danger m-1">삭제</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form th:name="formData" th:id="formData">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th th:class="default"><div th:class="checkbox"><label>
                                                    <input th:type="checkbox" th:class="check" th:id="checkAll">
                                                </label></div>
                                                </th>
                                                <th>id</th>
                                                <th>email</th>
                                                <th>title</th>
                                                <th>createDate</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>id</th>
                                                <th>email</th>
                                                <th>title</th>
                                                <th>email</th>
                                            </tr>
                                        </tfoot>
                                        <tbody >
                                            <!--테이터를 넣을곳 -->
                                            <tr th:id="resultTr" th:each="result : ${boardListDTOS}">
                                                <th>
                                                    <div th:class="checkbox"><label>
                                                    <input type="checkbox" th:name="checkbox" th:id="checkbox" th:class="check" th:value="${result.id}">
                                                    </label></div>
                                                </th>
                                                <th><a th:href="@{/noticeBoard/{id}(id=${result.id})}" th:text="${result.id}"></a></th>
                                                <th th:text="${result.email}">2</th>
                                                <th th:text="${result.title}">3</th>
                                                <th th:text="${#temporals.format(result.createDate, 'yyyy-MM-dd HH:mm:ss')}">4</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer th:replace="/common/footer :: footerFragment"/>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="/common/scrollTopButton :: scrollTopButtonFragment"/>

    <!-- Logout Modal-->
    <div th:replace="/common/logoutModal :: logoutModalFragment"/>

    <!-- Bootstrap core JavaScript-->
    <script   src="/vendor/jquery/jquery.min.js"></script>
    <script  src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script  src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script  src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script  src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script  src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script  src="/js/demo/datatables-demo.js"></script>

    <script th:nonce = "#{nonce}">
        console.log("asdsdaszxczxcz");
    </script>
</body>

</html>